ANTHROPIC_API_KEY="YOUR API KEY"
OPENAI_API_KEY="YOUR API KEY"
TAVILY_API_KEY="YOUR API KEY" #Optional. Search in the internet.

# Management
ENVIRONMENT=development
LOGGING_LEVEL=debug #debug for getting debug information.
PROJECT_ROOT_PATH=/home/lasantoneta/react-component-engineer #Path to the project root you want to analyze
PROMPT_ROOT_PATH=/home/lasantoneta/react-component-engineer #Path to the prompt.log file that is generated with the prompt
OUTPUT_CODE_FORMAT=XML #XML or DASHED_MARKERS
CHAIN_OF_THOUGHT=true #true or false.
